<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{app.title}"> Title </title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1 th:text="#{app.user-details}">Details</h1>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<table>
    <tr>
        <th th:text="#{user.firstname}"></th>
        <th th:text="#{user.lastname}"></th>
        <th th:text="#{user.gender}"></th>
        <th th:text="#{user.married}+ '?'"></th>
        <th th:text="#{user.profile}"></th>
    </tr>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.firstName}">Id</td>
        <td th:text="${user.lastName}">Title</td>
        <td th:text="${user.gender}">Gender</td>
        <td th:text="${user.married}">Married</td>
        <td th:text="${user.profile}">Profile</td>
    </tr>
</table>
<div sec:authorize="hasAuthority('ADMIN')">
    <a href="#" th:href="@{/app/create-user}" th:text="#{user.add-more-users}">Add User</a>
    <p></p>
    <a href="#" th:href="@{/app/show-users}" th:text="#{user.show-users}">Show Users</a>
</div>
</body>
</html>